@import '../../styles/variables';
@import '../../styles/mixins';

.userSettingsContainer {
  display: flex;
  width: 100%;
  margin: 10px 0;

  .leftBar {
    display: flex;
    flex-direction: column;

    button {
      text-align: start;
      @include h4;
      padding: 5px;

      margin-bottom: 15px;

      &.active {
        border: $container-border;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        background-color: $container-background;
        box-shadow: $box-shadow;
      }
    }

    width: 30%;
  }

  .rightBar {
    margin-left: 10px;
    width: 70%;
    border: $container-border;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    background-color: $container-background;

    min-height: 90vh;

    .profileContainer {
      margin: 20px;

      div {
        width: 100%;
        margin-bottom: 10px;

        img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          border: $container-border;
        }

        input {
          width: 100%;
          font-size: $normal-font;
        }

        .update {
          background-color: $success-color;
          color: $color1;
        }

        .delete {
          background-color: rgb(211, 211, 211);
          color: #da3633;

          &:hover {
            background-color: #f85149;
          }
        }
      }
    }
  }
}
