//Color Schema
$color0: black;
$color01: hsl(0, 0%, 35%);
$color04: hsl(0, 0%, 40%);
$color06: hsl(0, 0%, 60%);
$color09: hsl(0, 0%, 91%);

$color1: rgb(255, 255, 255);

$color2: #000033;
$color20: #00004d;
$color29: #e6e6ff;

$success-color: #057642;

$warning-color: rgb(197, 163, 27);

$error: red;

$disabled-color: grey;

//Fonts
$normal-font: 14px;
//Font colors
$text-light: white;
$text-dark: black;

//Container appearance
$container-border: none;
$border-radius: 8px;
$input-border: 1px solid $color0;
$container-background: #ffffff;
$input-border-radius: 0.4em;
$input-box-shadow: inset 0 0 0 1px $color06;
$box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08), 0px 1px 2px rgba(0, 0, 0, 0.1);
