//Color Schema
$color0: black;
$color01: hsl(0, 0%, 35%);

$color1: rgb(255, 255, 255);

$color2: #000033;
$color20: #00004d;
$color29: #e6e6ff;

$success-color: green;

$error: red;

$container-border: 2px solid $color0;
$border-radius: 8px;
$input-border: 1px solid $color0;
$container-background: #f2f2f2;

$text-light: white;
$text-dark: black;

$normal-font: 14px;
