//Color Schema
$color0: black;
$color01: hsl(0, 0%, 35%);

$color1: rgb(255, 255, 255);

$color2: #000033;
$color20: #00004d;
$color29: #e6e6ff;

$error: red;

$container-border: 2px solid $color0;

$container-background: #f5f5f5;

$border-radius: 8px;

$text-light: white;
$text-dark: black;
