@import './variables';

.formContainer {
  background-color: $container-background;

  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: $box-shadow;

  width: 100%;

  max-width: 400px;

  padding: 15px 25px;
  margin-top: 10%;

  &.successfullyAuthenticated {
    color: $success-color;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 250px;

    div {
      display: flex;
      flex-direction: row;
    }

    & > p {
      color: $color01;
    }
  }

  .form-header {
    margin: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    input {
      font-size: 15px;
      outline: none;
      margin: 15px 0 5px 0;
      width: 100%;
      height: 45px;
      padding: 5px;

      &[type='submit'] {
        background-color: $color0;
        color: $color1;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 15px;
      }

      &:focus {
        box-shadow: inset 0 0 3px $color04, 0 0 4px $color04, 0 0 5px $color04;
      }

      &.error {
        box-shadow: inset 0 0 3px $error, 0 0 4px $error, 0 0 5px $error;
      }
    }
  }

  .form-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .error {
    color: $error;
    width: 100%;
    font-size: 15px;
    padding-left: 5px;
  }
}
