@import '../../styles/variables';
@import '../../styles/mixins';

.userButtonContainer {
  display: flex;

  button {
    border: 1px solid black;
    border-radius: 100px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;

    img {
      background-color: white;
      width: 40px;
      height: 40px;
    }
  }
}
