@import '../../styles/variables';
@import '../../styles/mixins';

.userButtonContainer {
  display: flex;
  position: relative;
  justify-self: flex-end;

  button {
    overflow: hidden;
    width: 40px;
    height: 40px;
    display: flex;
    padding: 0;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      background-color: white;
      height: 90%;
      width: 24px;
      height: 24px;
    }

    span {
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
